* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #ffffff;
    color: #1e1e1e;
}

/* Nav */
.navigationBar {
    background-color: #e3f2fd;
    padding: 20px 30px;
    border-bottom: 2px solid #bbdefb;
}

.navigationBar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navigationBar li {
    margin-right: 10px;
}

.navigationBar button {
    background-color: transparent;
    border: 2px solid #1976d2;
    color: #1976d2;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.navigationBar button:hover {
    background-color: #1976d2;
    color: white;
}

/* Secciones */
section {
    padding: 20px;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

thead td {
    background-color: #bbdefb;
    color: #0d47a1;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #90caf9;
    text-align: left;
}

tbody td {
    padding: 10px;
    border: 1px solid #e0e0e0;
}

tbody tr:hover {
    background-color: #f1faff;
}

/* Botones añadir Paquetes y transportistas*/
#abrirFormularioPaquetes,
#abrirFormularioTransportistas {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    background-color: #1976d2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

#AñadirP:hover,
#AñadirT:hover {
    background-color: #1565c0;
}

/* Modal para añadir p y t */
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 118, 210, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-contenido-p,
.modal-contenido-t {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    width: 320px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.cerrar {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    color: #1976d2;
    cursor: pointer;
}

/* Form del modal */
form input,
form select,
form button {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

form button[type="submit"] {
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

form button[type="submit"]:hover {
    background-color: #1565c0;
}

#acciones {
    padding: 20px;
    text-align: center;
}

#botonMapa {
    padding: 10px 20px;
    border: none;
    background-color: #42a5f5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#botonMapa:hover {
    background-color: #1e88e5;
}

  